<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Main Test">
        <classes>
            <class name="campus.school.PositionCategoriesTests"></class>
            <class name="campus.school.AttestationsTests"></class>
            <class name="campus.school.DocumentTypesTests"></class>
            <class name="campus.school.FieldsTests"></class>
            <class name="campus.school.PositionsTests"></class>
            <class name="campus.school.SubjectCategoriesTests"></class>
            <class name="campus.school.SchoolLocationsTests"></class>
            <class name="campus.school.DepartmentsTests"></class>
            <class name="campus.school.BankAccountsTests"></class>
            <class name="campus.school.GradeLevelsTests"></class>
            <class name="campus.school.DiscountsTests"></class>
            <class name="campus.school.NationalitiesTests"></class>
        </classes>
    </test>
</suite>